# Time Series

https://docs.python.org/3/library/datetime.html

computers stores dates and times as actual numbers

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

In [1]:
import pandas as pd

In [2]:
# low_memory to get rid of warning, nrows to reduce number of rows
df = pd.read_csv("https://cli.fusio.net/cli/climate_data/webdata/dly4935.csv", skiprows=23, low_memory=False, nrows=1000)

In [3]:
df

,date,ind,maxtp,ind.1,mintp,igmin,gmin,ind.2,rain,cbl,...,ind.5,hg,sun,dos,soil,pe,evap,smd_wd,smd_md,smd_pd
0,01-aug-1996,4,,4,,,,8,,,...,1,,1.1,0,,,,,,
1,02-aug-1996,0,15.1,0,9.2,,,0,0.3,999.2,...,0,18,,0,,,,,,
2,03-aug-1996,0,18.0,0,11.6,0,11.4,0,0.0,1002.1,...,0,18,5.7,0,15.600,2.7,3.7,2.7,2.7,2.7
3,04-aug-1996,0,20.4,0,9.6,0,8.6,0,0.1,991.7,...,0,32,6.8,0,15.975,3.7,5.0,6.2,6.2,6.3
4,05-aug-1996,0,13.7,0,8.7,0,10.9,0,13.3,983.8,...,0,24,0.0,0,14.625,1.1,1.8,0.0,-6.1,-5.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,25-apr-1999,0,11.4,0,7.2,0,6.9,0,8.7,981.5,...,0,26,0.7,0,9.125,1.1,1.8,0.0,-7.6,-10.0
996,26-apr-1999,0,14.5,0,7.5,0,7.1,0,0.3,994.9,...,0,25,7.1,0,10.350,2.1,3.1,1.8,1.8,-7.7
997,27-apr-1999,0,17.6,0,6.6,0,4.5,3,0.0,1006.4,...,0,20,13.1,0,11.600,3.1,4.5,4.8,4.8,-4.3
998,28-apr-1999,0,17.7,0,6.0,0,5.6,3,0.0,1005.3,...,0,20,13.5,0,12.750,3.5,5.0,8.1,8.1,-0.6
999,29-apr-1999,0,15.4,0,4.9,0,3.9,0,0.1,998.2,...,0,20,13.1,0,12.375,3.4,5.2,11.2,11.2,2.8

In [4]:
# This should be a datetime column not object
df["date"]

0      01-aug-1996
1      02-aug-1996
2      03-aug-1996
3      04-aug-1996
4      05-aug-1996
          ...
995    25-apr-1999
996    26-apr-1999
997    27-apr-1999
998    28-apr-1999
999    29-apr-1999
Name: date, Length: 1000, dtype: object

In [5]:
pd.to_datetime(df['date'])

0     1996-08-01
1     1996-08-02
2     1996-08-03
3     1996-08-04
4     1996-08-05
         ...
995   1999-04-25
996   1999-04-26
997   1999-04-27
998   1999-04-28
999   1999-04-29
Name: date, Length: 1000, dtype: datetime64[ns]

In [6]:
# Adds column called datetime
df['datetime'] = pd.to_datetime(df['date'])

In [7]:
df

,date,ind,maxtp,ind.1,mintp,igmin,gmin,ind.2,rain,cbl,...,hg,sun,dos,soil,pe,evap,smd_wd,smd_md,smd_pd,datetime
0,01-aug-1996,4,,4,,,,8,,,...,,1.1,0,,,,,,,1996-08-01
1,02-aug-1996,0,15.1,0,9.2,,,0,0.3,999.2,...,18,,0,,,,,,,1996-08-02
2,03-aug-1996,0,18.0,0,11.6,0,11.4,0,0.0,1002.1,...,18,5.7,0,15.600,2.7,3.7,2.7,2.7,2.7,1996-08-03
3,04-aug-1996,0,20.4,0,9.6,0,8.6,0,0.1,991.7,...,32,6.8,0,15.975,3.7,5.0,6.2,6.2,6.3,1996-08-04
4,05-aug-1996,0,13.7,0,8.7,0,10.9,0,13.3,983.8,...,24,0.0,0,14.625,1.1,1.8,0.0,-6.1,-5.9,1996-08-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,25-apr-1999,0,11.4,0,7.2,0,6.9,0,8.7,981.5,...,26,0.7,0,9.125,1.1,1.8,0.0,-7.6,-10.0,1999-04-25
996,26-apr-1999,0,14.5,0,7.5,0,7.1,0,0.3,994.9,...,25,7.1,0,10.350,2.1,3.1,1.8,1.8,-7.7,1999-04-26
997,27-apr-1999,0,17.6,0,6.6,0,4.5,3,0.0,1006.4,...,20,13.1,0,11.600,3.1,4.5,4.8,4.8,-4.3,1999-04-27
998,28-apr-1999,0,17.7,0,6.0,0,5.6,3,0.0,1005.3,...,20,13.5,0,12.750,3.5,5.0,8.1,8.1,-0.6,1999-04-28
999,29-apr-1999,0,15.4,0,4.9,0,3.9,0,0.1,998.2,...,20,13.1,0,12.375,3.4,5.2,11.2,11.2,2.8,1999-04-29

In [8]:
# create plot with maxtp
import seaborn as sns

In [9]:
df['temp'] = pd.to_numeric(df['maxtp'])

ValueError: Unable to parse string " " at position 0

In [ ]:
sns.lineplot(x='datetime', y='temp', data=df)